.subHeader{
  display: flex;
  background: url("../../../assets/images/Backgrounds.png") #bbc2ce repeat-x 0px -422px;
  border: 1px solid #435b8c;
  margin: -10px;
  margin-bottom: 0;
  padding:5px;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.headerLabelBox{
  display: flex;
  align-items: center;
}
.headerText{
  padding-left: 5px;
  font-weight: 600;
}
.requiredText {
  color:#9f0000;
  font-weight: 600;
}
.contentDiv{
  height: 220px;
  padding-top: 25px;
}
.contentPopupDiv{
  height: 150px;
  padding-top: 25px;
}
.autoSelectBox{
  display: flex;
  align-items: center;
  width: 80%
}
.boldText {
  padding-left: 5px;
  font-weight: 600;
  width: 29.7%;
}
.autoSelectDiv {
  display: flex;
  flex: 1;
  padding-left: 10px;
}
.targetedBox{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.textAreaStyle{
  border: 1px solid #b5bcc7;
  height: 100px;
  width: 250px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.textAreaStyle:hover{
  background-color: #e9f4fe;
  border-color: #769dc0;
}
.targetText {
  padding-left: 5px;
  font-weight: 600;
  width: 200px;
}
.envInputStyle{
  border: 1px solid #b5bcc7;
}
.envInputStyle:hover{
  background-color: #e9f4fe;
  border-color: #769dc0;
}
.bulletPoint{
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #131313;
  margin-right: 10px;
}
.exceptionContent{
  display: flex;
  align-items: center;
}
.exceptionDeleteContent{
  display: flex;
  flex-direction: column;
}
.loadingGifStyle {
  height: 16px;
  width: 16px;
  background-image: url("../../../assets/images/Loading.gif")
}
.parentTextDiv{
  width: 80%
}
.textStyle{
  font-weight: 400;
  margin: 10px 0px;
}