.header {
  background: none #c6ceda;
  border: 1px solid #435b8c;
  border-top-color: #fff;
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 4px;
  height: 28px;
}
.headerContainerStyle {
  display: flex;
  padding-left: 10px;
}
.headerIcon {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.requiredText{
  display: inline;
  color: #9f0000;
  font-weight: bold;
  margin-right: 5px;
  padding-right:10px
}
.buttonIcon{
  color: #000000 !important
}

.resetTextStyle{
  padding:0px 5px;
  font-weight:bold
}